  <!-- <div class="returned-fiesta">
    <div>
      <p>Returned Fiesta</p>
      <p>{{this.name}} </p>
      <p>{{this.color}}</p>
      <p>{{this.type}}</p>
      <p>Description: {{this.description}}</p>
      <p>Value: {{this.value}}</p>
      <p>Quantity: {{this.quantity}}</p>
    </div>
  </div> -->
  <!-- <div class="fiesta-return">
    <div class="fiesta">
      <div *ngFor="let fiesta of fiesta" class="fiesta-list">
        <img *ngIf="fiesta.description"src="{{fiesta.description}}" alt="{{fiesta.name}}" />
        <h3 class="name">{{fiesta.name}}</h3>
        <p>Color: {{fiesta.color}}</p>
        <p>Type: {{fiesta.type}}</p>
        <p>Value (each): ${{fiesta.value}}</p>
        <p>Quantity: {{fiesta.quantity}}</p>
      </div>
    </div>
  </div> -->