
<app-navigation></app-navigation>


<div>
    <h1>Fiesta Collection</h1>
    <p>Personal site to record the inventory of Fiesta dishes acquired. </p>
</div>

<!-- <div class="gallery">
    <img src="https://ik.imagekit.io/sharron/Fiesta/AE6D3C14-5E2E-4E3F-8CA9-B134CB11E6CA_qGRNEoQ-9.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1656951180637" alt="a house on a mountain">
    <img src="https://ik.imagekit.io/sharron/Fiesta/02750962-DE85-452D-B85D-ABCEF143B8C8_rRl6foG00.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657117153261" alt="sime pink flowers">
    <img src="https://ik.imagekit.io/sharron/Fiesta/AE6D3C14-5E2E-4E3F-8CA9-B134CB11E6CA_qGRNEoQ-9.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1656951180637" alt="big rocks with some trees">
    <img src="https://ik.imagekit.io/sharron/Fiesta/AE6D3C14-5E2E-4E3F-8CA9-B134CB11E6CA_qGRNEoQ-9.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1656951180637" alt="a waterfall, a lot of tree and a great view from the sky">
    <img src="https://ik.imagekit.io/sharron/Fiesta/AE6D3C14-5E2E-4E3F-8CA9-B134CB11E6CA_qGRNEoQ-9.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=16569511806370" alt="a cool landscape">
    <img src="https://ik.imagekit.io/sharron/Fiesta/AE6D3C14-5E2E-4E3F-8CA9-B134CB11E6CA_qGRNEoQ-9.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1656951180637" alt="inside a town between two big buildings">
    <img src="https://ik.imagekit.io/sharron/Fiesta/AE6D3C14-5E2E-4E3F-8CA9-B134CB11E6CA_qGRNEoQ-9.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1656951180637" alt="a great view of the sea above the mountain">
  </div> -->
