<div class="input-fiesta">
    <form #newFiestaForm="ngForm" class="new-fiesta-form" (ngSubmit)="addFiesta(newFiestaForm.value)">
      <label for="name">Name</label>
      <input type="text" class="name-section" name="name" required id="name" ngModel>
    
      <label for="color">Color</label>
      <input type="text" class="color-section" name="color" required id="color" ngModel>
    
      <label for="type">Type</label>
      <input type="text" class="type-section" name="type" required id="type" ngModel>

      <label for="description">Description</label>
      <input type="text" class="description-section" name="description" required id="description" ngModel>

      <label for="value">Value</label>
      <input type="number" class="value-section" name="value" required id="value" ngModel>

      <label for="quantity">Quantity</label>
      <input type="number" class="quantity-section" name="quantity" required id="quantity" ngModel>
    
      <input type="submit" id="submit" class="submit-button" value="Add Fiesta" />
    
    </form>
</div>



<!-- <div class="form-comment">
    <form #newCommentForm="ngForm" class="new-comment-form" (ngSubmit)="addComment(newCommentForm.value)">
      <label for="name">Name</label>
      <input type="text" class="name-section" name="name" required id="name" ngModel>
    
      <label for="email">Email</label>
      <input type="text" id="email" class="email-section" required  minlength="6" maxlength="64" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" ngModel>
    
      <label for="comment">Comment</label>
      <input type="text" class="comment-section" name="comment" id="comment" ngModel>
    
      <input type="submit" id="comment" class="comment-button" value="Add Comment" />
    
    </form>
</div> -->
