<h2>Fiesta Inventory</h2>
<!-- <div class = "comment-page">
  <div class="comment-section">
    <div class="random-dog">
      <img src="{{ randomdog }}" alt="Dog Picture" />
    </div>
  </div>
  <div class="form-comment">
    <app-comment-form class="comment-form"></app-comment-form>
  </div>
  <div class="comment-return">
    <h3>Comments:</h3>
    <div *ngFor="let comment of comments">
    <app-comment-list
    [name]="comment.name"
    [comment]="comment.comment"
    ></app-comment-list></div>
  </div>
</div>
<div class="hidden">
  <app-remove-comment></app-remove-comment>
</div>
-->


<!-- -------------------Fiesta------------------------------------- -->
  <div class="form-comment">
    <app-inventory-input class="fiesta-form"></app-inventory-input>
  </div>
  <div class="fiesta-return">
        <h3>Fiesta:</h3>
    <div *ngFor="let fiesta of fiesta">
        <app-inventory-list
            [name]="fiesta.name"
            [color]="fiesta.color"
            [type]="fiesta.type"
            [description]="fiesta.description"
            [value]="fiesta.value"
            [quantity]="fiesta.quantity"
        ></app-inventory-list>
    </div>
  </div>




<div>
  <app-inventory-remove></app-inventory-remove>
</div> 
