
<app-navigation></app-navigation>

<h2>Fiesta Inventory</h2>

<app-search></app-search>

  <div class="fiesta-return">
    <div class="fiesta">
      <li *ngFor="let fiesta of fiesta" class="fiesta-list">
        <img *ngIf="fiesta.description"src="{{fiesta.description}}" alt="{{fiesta.name}}" />
        <h2 class="name">{{fiesta.name}}</h2>
        <p>Color: {{fiesta.color}}</p>
        <p>Value (each): ${{fiesta.value}}</p>
        <p>Quantity: {{fiesta.quantity}}</p>
        <p class="itemid">Item # {{fiesta.id}}</p>
      </li>
    </div>
  </div>




