<div *ngIf="fiesta.length else empty" class="search-results">
  <h3>Returned Search Results:</h3>
    <li *ngFor="let fiesta of fiesta">
      <img *ngIf="fiesta.description"src="{{fiesta.description}}" alt="{{fiesta.name}}" />
      <h3 class="name">{{fiesta.name}}</h3>
        <p>Color: {{fiesta.color}}</p>
        <p>Type: {{fiesta.type}}</p>
        <p>Value (each): ${{fiesta.value}}</p>
        <p>Quantity: {{fiesta.quantity}}</p>
  </li>
  </div>
  <div>
  <ng-template #empty>
    <p>Sorry, no results found.</p>
  </ng-template>
  </div>
