p {
    display: flex;
    padding: 10px;
    background-color: rgb(0, 99, 193);
    margin: 30px;
    border-radius: 15px;
    color: white;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 5px double white;
    height: 5em;
}

div {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    text-align: center;
    align-content: center;
}

a:hover {
    color: white;
}

.main-image {
    width: 100%;
    border: 5px solid rgb(238, 236, 236);
    filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.9));
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

.home-button {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    /* background-image: url("https://ik.imagekit.io/sharron/Fiesta/CBE843B9-AC6A-4AEB-B613-AE433D62B40E_Xx2_OCK6o.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657117130053");
    background-size: 150px;
    background-repeat: no-repeat; */
}

.inventory-button {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.input-button {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.remove-button {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}


@media screen and (max-width: 995px) {
    div {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        margin-bottom: 100px;
    }
 
    .main-image {
        width: 70%;
        border: 5px solid rgb(238, 236, 236);
        filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.9));
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        margin-bottom: 20px;
    }
    
    .home-button {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        width: 70%;
    }
    
    .inventory-button {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
        width: 70%;

    }
    
    .input-button {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
        width: 70%;

    }
    
    .remove-button {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
        width: 70%;

    }

    p {
        display: flex;
        padding: 10px;
        background-color: rgb(0, 99, 193);
        margin: 10px;
        border-radius: 15px;
        color: white;
        width: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        border: 5px double white;
        height: auto;
    }
    
}

